.card-product__hover-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.media--hover-effect:hover .card-product__hover-video-container {
  opacity: 1;
}

.card-product__hover-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.media--hover-effect:hover .card-product__hover-video {
  opacity: 1;
  visibility: visible;
}

/* Fix for iOS devices */
@supports (-webkit-touch-callout: none) {
  .card-product__hover-video-container {
    z-index: 2; /* Higher z-index for iOS */
  }
  
  .card-product__hover-video {
    position: absolute;
    top: 0;
    left: 0;
  }
} 