@font-face {
  font-family: 'Qonoha';
  src: url('qonoha.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('GeosansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('GeosansLight-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}